.kotak {
    width: 150px;
    height: 150px;
    background-color: salmon;
    transition: 1s ease all;
    background-image: url(OP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
}

.kotak:hover {
    cursor: pointer;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

div img {
    display: block;
    margin: 50px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.SL {
    margin: 50px auto;
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 2px solid blue;
    border-bottom: 0;
}