* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ddd;
    text-align: center;
}



.item {
    background-color: lightskyblue;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even){
    background-color: lightsalmon;
}


/* Special function */
/*  1. repeat()
    2. min-content & max-content
    3. minmax()
    4. auto-fill & auto-fit*/


/* repeat() ntuk menentukan ukurangrid track secara berulang  */
.container {
    width: 70%;
    margin: 100px auto;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr) repeat(3, 1.5fr);
    /* 3 berarti berapa kali pengulangannya, 1fr adalah ukuran (nilai bisa px, %, fr) */
}


/* min-content & max-content untuk menetukan seberapa besar ukuran grid track berdasarkan content pada sebuah item  */
