.kotak {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin: 50px auto;
    box-shadow: 0px 30px 5px -20px rgba(0, 0, 0, 0.75);
    /* value box-shadow : inset x-offset, y-offset, blur, spread, color     -------->>> inset (bayangan kedalam) */
    transition: 1s ease all;
}

.kotak:hover {
    cursor: pointer;
    box-shadow: 0px 50px 5px -30px rgba(0, 0, 0, 0.75);
}

.lingkaran {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 20px auto;
    box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 255, 0.75), 
                inset 0px 0px 0px 10px rgba(255, 0, 0, 0.75),
                inset 0px 0px 0px 15px rgba(145, 255, 0, 0.75),
                inset 0px 0px 0px 20px rgba(255, 255, 0, 0.75),
                inset 0px 0px 0px 25px rgba(255, 0, 191, 0.75),
                inset 0px 0px 0px 30px rgba(255, 132, 0, 0.75),
                inset 0px 0px 0px 35px rgb(117, 117, 117),
                inset 0px 0px 0px 40px rgba(0, 0, 0, 0.75);
    transition: 1s ease all;
}

.lingkaran:hover {
    border-radius: 50%;
}